.menu-sm {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 60px;
  right: 50px;
}

.menu-sm--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  cursor: pointer;
}

span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: all 0.2s;
  position: relative;
}

span + span {
  margin-top: 11px;
}

.active span:nth-child(1) {
  animation: ease 0.5s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.5s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.5s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.5s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.5s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.5s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 10px;
    transform: rotate(0);
  }
  100% {
    top: 10px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 10px;
    transform: rotate(45deg);
  }
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 16px;
    transform: rotate(0);
  }
  100% {
    bottom: 16px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 16px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 16px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.menu-sm--wrapper {
  position: absolute;
  top: 50px;
  right: -55px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.menu-sm--ul {
  transition: 0.5s ease-in-out;
  transform: translateY(-200px);
  opacity: 0;
}

.menu-sm--wrapper ul {
  list-style-type: "\2981";
  margin: 0 12px;
  width: 100px;
}

.menu-sm--wrapper li {
  padding-left: 8px;
  margin: 5px 0;
  height: auto;
}

.menu-sm--projects {
  transform: translateX(-8px);
}

.menu-sm--wrapper .menu-sm--projects-li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.menu-sm--projects-ul {
  transform: translateY(-50px);
  transition: 0.5s ease-in-out;
  opacity: 0;
  height: 0;
}
.menu-sm--wrapper--down {
  transform: translateY(0px);
  opacity: 1;
  height: 45px;
}

.menu-sm--projects-button {
  position: relative;
  width: 9px;
  height: 9px;
  cursor: pointer;

  display: inline-block;
  transform: translateY(-2px);
}
.menu-sm--projects-button span:nth-child(1),
.menu-sm--projects-button span:nth-child(2) {
  content: "";
  position: absolute;
  background-color: black;
  transition: transform 0.25s ease-out;
}
.menu-sm--projects-button span:nth-child(1) {
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  margin-left: -1px;
  margin-top: 2px;
}
.menu-sm--projects-button span:nth-child(2) {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: 1px;
  margin-left: -1px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

@media (max-width: 575.98px) {
  .menu-sm {
    top: 50px;
    right: 35px;

    font-size: 1.1em;
  }
  .menu-sm--wrapper {
    top: 40px;
    right: -50px;
    width: 120px;
    height: 120px;
  }
  .menu-sm--wrapper li,
  .menu-sm--projects-li {
    margin: 0;
  }
  .menu-sm--wrapper ul {
    margin-top: 5px;
  }
}
