.main-section {
  grid-auto-rows: auto;
}
.main-section h1 {
  max-width: 200px;
}

.image-section--lg,
.image-section--md {
  height: auto;
  max-height: 1000px;
}

.image-section--lg img {
  /* width: auto;
  height: 100%; */
  width: 100%;
  height: auto;
}

.slider-section {
  height: 900px;
}

.three-section {
  grid-column: 1/3;
  justify-content: space-evenly;
  padding: 50px 0;

  align-items: end;
}

.three-section img {
  height: 900px;
  width: auto;
}

.main-section .site-1989,
.marquee {
  grid-column: 1/3;
  border-bottom: none;
}

.site-1989-header img {
  width: 100%;
  height: auto;
}

.site-1989-main {
  grid-template-columns: 33% 17% 17% 33%;
}

.button-down,
.site-1989-bodycream-description {
  grid-column: 2/5;
  height: 500px;
}

.button-down img,
.site-1989-bodycream-description img {
  height: 70%;
  width: auto;
  position: relative;
  top: 20%;
  left: 5%;
}

.site-1989-image {
  grid-row: 1/3;
  overflow: hidden;
  height: 100%;
}

.site-1989-image img {
  width: 100%;
  height: auto;
}

.site-1989-featuring,
.site-1989-sustainability,
.site-1989-essentials,
.site-1989-bodycream-essentials {
  padding: 25px;
  border: 1px solid black;
  border-right: 0;
}

.site-1989-featuring {
  border-left: none;
}

.site-1989-featuring img {
  height: 101px;
  width: auto;
  margin-top: 5px;
}

.site-1989-sustainability img {
  height: 145px;
  width: auto;
}

.site-1989-essentials img,
.site-1989-bodycream-essentials img {
  height: 130px;
  width: auto;
}

#product-2 {
  height: 80%;
  margin-bottom: 25px;
}
#product-3 {
  height: 60%;
  margin-bottom: 40px;
}

.three-section--products {
  background-color: #fbfbfb;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  transition: 0.2s ease-out;
}

.marquee pre {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 110px;
  font-weight: 600;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 15s infinite linear;
  animation: marquee 15s infinite linear;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.marquee:hover {
  background-color: black;
  text-shadow: 0px 1px 0 rgb(255, 255, 255), 0px -1px 0 rgb(255, 255, 255),
    1px 0px 0 rgb(255, 255, 255), -1px 0px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
  -webkit-text-shadow: 0px 1px 0 rgb(255, 255, 255),
    0px -1px 0 rgb(255, 255, 255), 1px 0px 0 rgb(255, 255, 255),
    -1px 0px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255),
    -1px -1px 0 rgb(255, 255, 255);
  -moz-text-shadow: 0px 1px 0 rgb(255, 255, 255), 0px -1px 0 rgb(255, 255, 255),
    1px 0px 0 rgb(255, 255, 255), -1px 0px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
  font-size: 46px;
  color: rgb(0, 0, 0);
}

.typography-section {
  height: 800px;
}

#typography,
.typography {
  position: absolute;
  height: 200px;
  width: auto;
}

.typography-section .typography {
  height: auto;
  flex-direction: column;
}

#typography-1989-logo,
#slider-section-1989-logo {
  height: 50px;
  width: auto;
  margin: 50px;
}

#typography-change {
  height: 90px;
}

.site-1989-bodycream-image {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.site-1989-bodycream-image img {
  height: 400px;
}

.site-1989-bodycream-details {
  padding: 25px 0;
  justify-content: space-evenly;
  align-items: flex-start;
}

.site-1989-bodycream-details img {
  height: 140px;
}

.site-1989-bodycream-image--sm {
  padding: 25px 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.site-1989-bodycream-image--sm img {
  height: 150px;
}

/* // Экстрамалые девайсы («портретные телефоны», < 576px) */
@media (max-width: 575.98px) {
}

/* // Малые девайсы («ландшафтные», >= 575px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .site-1989-main {
    height: 380px;
  }
  .button-down {
    height: 270px;
  }
  .site-1989-image img {
    height: 100%;
    width: auto;
  }
  .site-1989-featuring,
  .site-1989-sustainability,
  .site-1989-essentials {
    padding: 10px;
  }
  .site-1989-featuring img {
    height: 41px;
    margin-top: 3px;
  }

  .site-1989-sustainability img {
    height: 60px;
    width: auto;
  }

  .site-1989-essentials img {
    height: 51px;
    width: auto;
  }
}

/* // Средние девайсы («таблетки», >= 768px)  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .image-section--lg {
    height: 550px;
  }
  .image-section--lg img {
    height: 100%;
    width: auto;
  }
  .slider-section,
  .image-section--md {
    height: 600px;
  }
  .three-section {
    align-items: center;
  }
  .three-section img {
    height: 400px;
    width: auto;
  }
  .site-1989-main {
    height: 600px;
  }
  .site-1989-main {
    height: 500px;
  }
  .image-section--md {
    grid-column: 1/3;
  }
  .button-down,
  .site-1989-bodycream-description {
    height: 350px;
  }
  .site-1989-image img {
    height: 100%;
    width: auto;
  }
  .site-1989-featuring,
  .site-1989-sustainability,
  .site-1989-essentials,
  .site-1989-bodycream-essentials {
    padding: 10px;
  }
  .site-1989-featuring img {
    height: 57px;
  }

  .site-1989-sustainability img {
    height: 80px;
    width: auto;
  }

  .site-1989-essentials img {
    height: 71px;
    width: auto;
  }
  .three-section--products {
    align-items: flex-end;
  }
  #product-2 {
    height: 80%;
    margin-bottom: 7px;
  }
  #product-3 {
    height: 60%;
    margin-bottom: 18px;
  }
  .marquee pre {
    font-size: 80px;
    -webkit-animation: marquee 20s infinite linear;
    animation: marquee 20s infinite linear;
  }

  .typography-section img {
    width: 100%;
    height: auto;
  }
  #typography {
    height: 140px;
  }
  #typography-1989-logo,
  #slider-section-1989-logo {
    height: 30px;
    width: auto;
    margin: 30px;
  }
  #typography-change {
    height: 70px;
  }

  .site-1989-bodycream-image img {
    height: 300px;
  }
  .site-1989-bodycream-details {
    padding: 10px 0;
    align-items: center;
  }
  .site-1989-bodycream-details img {
    height: 90px;
  }

  .site-1989-bodycream-image--sm {
    padding: 15px 0;
  }
  .site-1989-bodycream-image--sm img {
    height: 110px;
  }
  .site-1989-bodycream-essentials {
    display: flex;
    align-items: center;
  }
  .site-1989-bodycream-essentials img {
    height: 80px;
  }
}

/* // Большие девайсы (большие десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #img2 {
    width: auto;
    height: 110%;
  }
  .image-section--lg {
    height: 700px;
  }
  .image-section--lg img {
    height: 100%;
    width: auto;
  }
  .slider-section,
  .image-section--md {
    height: 600px;
  }

  .three-section img {
    height: 600px;
    width: auto;
  }
  .site-1989-main {
    height: 600px;
  }
  .button-down,
  .site-1989-bodycream-description {
    height: 450px;
  }
  .site-1989-image img {
    height: 100%;
    width: auto;
  }
  .site-1989-featuring,
  .site-1989-sustainability,
  .site-1989-essentials,
  .site-1989-bodycream-essentials {
    padding: 15px;
  }
  .site-1989-featuring img {
    height: 67px;
    width: auto;
    margin-top: 5px;
  }

  .site-1989-sustainability img {
    height: 100px;
    width: auto;
  }

  .site-1989-essentials img,
  .site-1989-bodycream-essentials img {
    height: 86px;
    width: auto;
  }
  .marquee pre {
    font-size: 100px;
  }
  #product-2 {
    height: 80%;
    margin-bottom: 13px;
  }
  #product-3 {
    height: 60%;
    margin-bottom: 28px;
  }
  .typography-section img {
    width: 100%;
    height: auto;
  }
  .site-1989-bodycream-image img {
    height: 400px;
  }
  .site-1989-bodycream-details,
  .site-1989-bodycream-image--sm {
    padding: 20px 0;
  }
  .site-1989-bodycream-details img {
    height: 110px;
  }

  .site-1989-bodycream-image--sm img {
    height: 110px;
  }
  .site-1989-bodycream-essentials {
    display: flex;
    align-items: center;
  }
  .site-1989-bodycream-essentials img {
    height: 100px;
  }
}

/* // Большие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) and (max-width: 1439px) {
  #img2 {
    width: auto;
    height: 110%;
  }
  .three-section img {
    height: 750px;
    width: auto;
  }
  .site-1989-main {
    height: 700px;
  }
  .site-1989-image img {
    height: 100%;
    width: auto;
  }
  .button-down {
    height: 500px;
  }
  .site-1989-featuring,
  .site-1989-sustainability,
  .site-1989-essentials,
  .site-1989-bodycream-essentials {
    padding: 20px;
  }
  .site-1989-featuring img {
    height: 83px;
    width: auto;
    margin-top: 5px;
  }

  .site-1989-sustainability img {
    height: 120px;
    width: auto;
  }

  .site-1989-essentials img,
  .site-1989-bodycream-essentials img {
    height: 105px;
    width: auto;
  }
  #product-2 {
    height: 80%;
    margin-bottom: 13px;
  }
  #product-3 {
    height: 60%;
    margin-bottom: 33px;
  }
  .site-1989-bodycream-essentials {
    display: flex;
    align-items: flex-start;
  }
  .site-1989-bodycream-essentials img {
    margin-top: 8px;
    height: 120px;
  }
}
/* 
@media (min-width: 1440px) {
  .image-section--lg img {
    width: 100%;
    height: auto;
  }
} */
