body {
  font-size: 16px;
}
h2,
h3 {
  text-transform: uppercase;
  font-weight: 100;
}
h3 {
  font-size: 1.4em;
}
p {
  padding: 0;
  margin: 0;
}
.header {
  border-bottom: 2px solid black;
  height: auto;
}
.content {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
table {
  table-layout: fixed;
  border-left: 1px solid black;
  border-collapse: collapse;

  width: 800px;
}
th {
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
  text-align: start;
  padding: 9px 20px 5px;
  font-weight: 100;
}
th.title,
.table-text th {
  border: none;
}
.table-text th {
  padding-right: 0;
  text-align: justify;
}
.table-text .cellheader p {
  width: 35%;
}
.title h2 {
  font-size: 2.4em;
  font-weight: 600;
}
.cellheader {
  padding: 30px 40px;
  width: 30%;
}
input,
textarea {
  padding: 0;
  background-color: initial;
  border: none;
  width: 100%;
  font-size: 0.7em;
  font-family: inherit;
}

textarea {
  height: 100px;
  resize: none;
}
.input-names input {
  width: 50%;
}
.cell-button {
  height: 150px;
}
.cell-button button {
  background-color: initial;
  border: 1px solid black;
  padding: 8px 35px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
  cursor: pointer;
}
.cell-button--center {
  width: 100%;
  margin: 0 auto;
}
.inquiry-title {
  transform: rotate(-90deg);

  position: absolute;
  top: 550px;
  left: -530px;

  font-size: 140px;
  font-weight: 100;
}

.flex-right {
  display: flex;
  justify-content: right;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email {
  display: none;
}
.subscribe-grid {
  grid-template-columns: 5fr 1fr 1fr;
}

/* xs */
@media (max-width: 575.98px) {
  body {
    font-size: 13px;
  }
  #header {
    padding: 0;
  }
  .site-title {
    max-width: 70%;
  }
}

/* sm */
@media (max-width: 767.98px) {
  table {
    width: 100%;
    border-left: 0;
  }
  .header {
    padding: 40px 20px;
  }
  .th-empty,
  .cellheader,
  .cell-button {
    border-left: 0;
  }
  .th-empty {
    padding: 0;
  }
  .inquiry-title {
    display: none;
  }
  .table-title .title,
  .table-text .cellheader {
    font-size: inherit;
    white-space: normal;
  }
  .cellheader {
    width: 0.1%;
    padding: 20px 0 20px 20px;
    margin-left: 20px;
    white-space: nowrap;
    font-size: 18px;
  }
  .cellheader h3 {
    font-weight: 600;
    color: #2c2c2c;
  }
  .cellheader ~ th {
    border-left: none;
  }
  .table-text .cellheader {
    padding: 20px;
  }
  .table-text .cellheader p {
    width: 70%;
  }
  .cell-button {
    transform: translateX(-1%);
  }
  input,
  textarea {
    font-size: 0.85em;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 13px;
  }
  table {
    width: 615px;
  }
  .cellheader {
    width: 22%;
  }
  .inquiry-title {
    letter-spacing: 3px;
    top: 530px;
    left: -470px;
    font-size: 120px;
  }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 14px;
  }
  .inquiry-title {
    top: 530px;
    left: -490px;
    font-size: 130px;
  }
}

/* xl */
@media (min-width: 1200px) and (max-width: 1489.98px) {
}

@media (min-width: 1490px) {
}
